/* .apexcharts-legend {
    display: none !important;
} */

.apexcharts-tooltip {
    /* opacity: 1 !important; */
    z-index: 30000 !important;
    pointer-events: unset !important;
    width: 165px;
    background: #FFFFFF;
    /* Prompt Shadows/8px - Shadow */
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
    padding: 15px 20px;
    border-radius: 16px;
    /* margin-top: -100px; */
    /* margin-left: 10px; */
    /* transform: translate(52%, -85%); */
    overflow: unset !important;
}

.apexcharts-tooltip--left {
    transform: translate(53%, -95%);
}

.apexcharts-tooltip--right {
    transform: translate(-55%, -95%);
}

.apexcharts-tooltip:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    bottom: -2px;
    transform: rotate(-45deg) translateX(-50%);
    left: 50%;
    z-index: 29999 !important;
    /* box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06); */
    box-shadow: 0px 8px 8px rgba(255, 255, 255, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
}

#customChart1 .apexcharts-tooltip {
    flex-direction: unset;
    width: 305px;
    flex-wrap: wrap;
}

.apexcharts-tooltip-title {
    background-color: transparent !important;
    border: none !important;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    color: rgba(60, 60, 67, 0.6);
    width: 100%;
}

.apexcharts-tooltip-text-y-label {
    display: none;
}

.apexcharts-tooltip-text-y-value {
    font-weight: bold;
    font-size: 22px;
    color: #1E1E1E;
    position: relative;
    padding-left: 12px;
}

.apexcharts-tooltip-text-y-value:after {
    content: '$';
    position: absolute;
    left: 0;
}

.apexcharts-tooltip-series-group {
    position: relative;
    width: 50%;
}

.apexcharts-tooltip-marker {
    position: absolute !important;
    top: unset !important;
    bottom: 0 !important;
    left: 10px !important;
    width: 36px !important;
    height: 2px !important;
    border-radius: 0px !important;
}

.apexcharts-toolbar * {
    /* display: none; */
    /* display: none !important; */
    /* opacity: 0 !important; */
}

@media screen and (max-width: 768px) {
    #customChart1 .apexcharts-tooltip {
        width: 222px;
    }

    .apexcharts-tooltip {
        padding: 10px 15px;
    }

    .graph-block {
        min-height: 230px !important;
        height: 350px !important;
    }

    .u-container {
        padding-bottom: 0 !important;
    }
}